@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.custom-bg {
  min-height: 100vh;
}

table,
th,
td {
  border: 1px solid gray;
}

tr:nth-child(even) {
  background: rgba(168, 166, 166, 0.707);
}

.tableSl {
  counter-reset: serial-number;
}

.tableSl td:first-child:before {
  counter-increment: serial-number;
  content: counter(serial-number);
}
