@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.custom-bg {
  min-height: 100vh;
}

.nested-custom-bg {
  min-height: 94vh;
}

.notFound {
  min-height: 100vh;
}

table,
th,
td {
  /* border: 1px solid gray; */
  /* padding: 0 5px; */
}

tr {
  background-color: #a5f3fc;
}

tr:nth-child(even) {
  background-color: #cffafe;
}

.tableSl {
  counter-reset: serial-number;
}

.tableSl td:first-child:before {
  counter-increment: serial-number;
  content: counter(serial-number);
}

.customBudget {
  background: linear-gradient(to right, #4a6ff4, #c27ff5);
}
.customSpent {
  background: linear-gradient(to right, #39a3e5, #7173f2);
}
.customGuest {
  background: linear-gradient(to right, #e65f78, #e79752);
}

.customLogin {
  background: linear-gradient(to right, #06b6d4, #3b82f6);
}

.loading {
  min-height: 100vh;
}

@media only screen and (max-width: 600px) {
  .custom-bg {
    min-height: 0vh;
  }
  .nested-custom-bg {
    min-height: 0vh;
  }
}
